@import 'styles/variable.scss';
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: $font-family-primary;
  background-color: $primary-blue;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.decorations {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;

  &__decorative {
    position: absolute;
    width: 320px;
    height: 500px;
    display: inline-block;
    transform-origin: center center;

    &.top {
      top: -212px;
      left: -128px;
      transform: rotate(22deg);
    }

    &.bottom {
      bottom: -236px;
      right: -124px;
      transform: rotate(22deg);
    }
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  height: 348px;
  max-width: 400px;
  width: 90%;
  background: #fff;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  overflow: hidden;

  &_header {
    display: inline-block;
    width: 100%;
    height: $avatar-offset;
  }

  &_avatar {
    position: absolute;
    top: calc(#{$avatar-offset} - 53px);
    left: 50%;
    height: $avatar-size;
    width: $avatar-size;
    border: 6px solid #fff;
    border-radius: 50%;
    transform: translateX(-50%);
    object-fit: cover;
  }

  &_profile {
    margin-top: $space-xl;
    padding-bottom: $space-m;
    border-bottom: 1px solid $border-gray;
    color: $primary-dark-blue;
    text-align: center;
  }

  &_name {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
  }

  &_age {
    display: inline-block;
    margin-left: $space-xs;
    color: $neutral-gray;
    font-weight: $font-weight-regular;
  }

  &_city {
    margin-top: $space-s;
    color: $neutral-gray;
    font-weight: $font-weight-regular;
  }

  &_stats {
    padding: $space-m $space-m 0;
    font-size: $font-size-large;
    display: flex;
    justify-content: space-between;

    &_name {
      font-size: $font-size-small;
      font-weight: $font-weight-regular;
      color: $primary-gray-blue;
      letter-spacing: 2px;
    }
  }
  &_counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $space-xs;
    flex: 1;
    font-weight: $font-weight-bold;
    color: $primary-dark-blue;
  }
}

@media (min-width: 768px) {
  .decorations {
    &__decorative {
      width: $decorative-size-medium;
      height: $decorative-size-medium;

      &.top {
        top: -212px;
        left: -200px;
        transform: rotate(15deg);
      }

      &.bottom {
        bottom: -209px;
        right: -240px;
        transform: rotate(22deg);
      }
    }
  }

  .modal {
    height: 400px;
    max-width: 380px;

    &_header {
      height: $avatar-offset-large;
    }

    &_avatar {
      top: calc(#{$avatar-offset-large} - 53px);
    }
  }
}

@media (min-width: 1024px) {
  .decorations {
    &__decorative {
      width: $decorative-size-large;
      height: $decorative-size-large;

      &.top {
        top: -360px;
        left: -200px;
        transform: rotate(15deg);
      }

      &.bottom {
        bottom: -400px;
        right: -220px;
        transform: rotate(22deg);
      }
    }
  }
}

@media (min-width: 1200px) {
  .decorations {
    &__decorative {
      width: $decorative-size-extra-large;
      height: $decorative-size-extra-large;

      &.top {
        top: -520px;
        left: -313px;
      }

      &.bottom {
        bottom: -572px;
        right: -288px;
      }
    }
  }

  .modal {
    height: 440px;
    max-width: 400px;

    &_header {
      height: $avatar-offset-medium;
    }

    &_avatar {
      top: calc(#{$avatar-offset-medium} - 63px);
      height: $avatar-size-large;
      width: $avatar-size-large;
    }

    &_profile {
      margin-top: $space-xxl;
      padding-bottom: $space-l;
    }
  }
}

@media (min-width: 1400px) {
  .decorations {
    &__decorative {
      &.top {
        top: -500px;
        left: -320px;
        transform: rotate(4deg);
      }

      &.bottom {
        bottom: -640px;
        right: -288px;
        transform: rotate(6deg);
      }
    }
  }

  .modal {
    height: 388px;
    max-width: 352px;

    &_name {
      font-size: $font-size-medium;
    }

    &_profile {
      padding-bottom: $space-m;
    }
    &_counter {
      font-size: $font-size-large;
    }
  }
}
